**Author:** Mourad Askar  
**Topic:** Hack4Space 2021  
**Created:** 7 May 2021

# Understanding the data format

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Downloading files

In [2]:
from ftplib import FTP
from datetime import datetime

start = datetime.now()
ftp = FTP('atmos.nmsu.edu','anonymous', 'anonymous')
ftp.cwd("/PDS/data/MROM_2104/DATA/2015/201504/20150401/")

# Get All Files
files = ftp.nlst()

print(files)

# Print out the files
for file in files:
    print("Downloading..." + file)
    ftp.retrbinary("RETR " + file ,open("data/" + file, 'wb').write)

ftp.close()

end = datetime.now()
diff = end - start
print('All files downloaded for ' + str(diff.seconds) + 's')

['2015040100_DDR.LBL', '2015040100_DDR.TAB', '2015040104_DDR.LBL', '2015040104_DDR.TAB', '2015040108_DDR.LBL', '2015040108_DDR.TAB', '2015040112_DDR.LBL', '2015040112_DDR.TAB', '2015040116_DDR.LBL', '2015040116_DDR.TAB', '2015040120_DDR.LBL', '2015040120_DDR.TAB']
Downloading...2015040100_DDR.LBL
Downloading...2015040100_DDR.TAB
Downloading...2015040104_DDR.LBL
Downloading...2015040104_DDR.TAB
Downloading...2015040108_DDR.LBL
Downloading...2015040108_DDR.TAB
Downloading...2015040112_DDR.LBL
Downloading...2015040112_DDR.TAB
Downloading...2015040116_DDR.LBL
Downloading...2015040116_DDR.TAB
Downloading...2015040120_DDR.LBL
Downloading...2015040120_DDR.TAB
All files downloaded for 11s

In [3]:
df = pd.read_csv('data/2015040100_DDR.TAB', skiprows=25, header=None, low_memory=False)
df

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,1,Date,UTC,SCLK,L_s,Solar_dist,Orb_num,Gqual,Solar_lat,Solar_lon,...,Ref_Date_5,Ref_UTC_5,Ref_Date_6,Ref_UTC_6,Ref_Date_7,Ref_UTC_7,Ref_Date_8,Ref_UTC_8,Ref_Date_9,Ref_UTC_9
1,1,Pres,T,T_err,Dust,Dust_err,H2Ovap,H2Ovap_err,H2Oice,H2Oice_err,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,"""01-Apr-2015""","""00:00:29.190""",1112313668.609,318.08637,217997971.719,40676,0,-16.52100,145.12160,...,,""" """,,""" """,,""" """,,""" """,,""" """
3,0,1.8789e+03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1.6582e+03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37097,0,7.0021e-03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37098,0,6.1794e-03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37099,0,5.4533e-03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37100,0,4.8125e-03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37101,0,4.2470e-03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ftp = FTP('atmos.nmsu.edu','anonymous', 'anonymous')
ftp.cwd("/PDS/data/MROM_2104/DATA/2015/201504/")

# Get All Files
files = ftp.nlst()

[print(f) for f in files]

ftp.close()

20150401
20150404
20150405
20150406
20150407
20150408
20150409
20150410
20150411
20150412
20150413
20150414
20150415
20150416
20150417
20150418
20150419
20150420
20150421
20150422
20150423
20150424
20150425
20150426
20150427
20150428
20150429
20150430